*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


main {
    background-image: linear-gradient(
        135deg,
        #009c3b,
        #ffdf00,
        #002776    
    );
    padding: 10px;
}

select#timesbr {
    margin: 5px;
}

div#res {
    margin: 5px;
    padding: 5px;
    width: 250px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
}


option[value='ath'] {
    background-color: red;
}

option[value='cam'] {
    background-color: black;
    color: white;
}