*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



main {
    background-image: linear-gradient(
        135deg,
        #009c3b,
        #ffdf00,
        #002776,  
        #ffffff,
        #002776,
        #ffdf00,
        #009c3b

    );
    
    height: 100vh;
    width: 100vw;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1{
    color: white;
    text-shadow: 2px 2px black;
}

select {
    margin: 5px;
    cursor: pointer;
}

div#res {
    margin: 5px;
    padding: 5px;
    width: 250px;
    height: 280px;
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
}

hr {
    border: 0;
    border-top: 3px solid black;
}

